.form {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

#label {
    color:  #c2c2c5;
    display: block;
    font-size: 14px;
    height: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
}
input {
    background: transparent;
    border: 0;
    color: #f2f2f2;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    outline: none !important;
    width: 100%;
}
#submit {
    color: #707075;
    margin-top: 40px;
    transition: color 300ms;
}

.btnOAuth {
    width: 300px;
    margin-top: 35px;
    color: #1b1b1b;
    font-weight: bold;
}