<!doctype html>

<html lang="en">
<head>
    <title>Areacoon</title>
    <link rel="shortcut icon" type="image/png" href="../public/images/favicon.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style type="text/css">
        <%- include('css/dashboard.css') -%>
    </style>
</head>

<body>
    <nav class="black">
        <div class="nav-wrapper">
            <img src="../public/images/areacoon.png" class="left" style="margin-left: 15px">
            <a href="#" class="left brand-logo orange-text" style="margin-left: 20px"><b>AREACOON</b></a>
            <a href="/disconnect" class="right waves-effect waves-light black-text orange btn" style="margin-right: 20px; margin-top: 14px"><b>Disconnect</b></a>
            <a href="/profil" class="right waves-effect waves-light black-text orange btn" style="margin-right: 20px; margin-top: 14px"><b>Account</b></a>
        </div>
    </nav>

    <div id="tabRow" class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="black tab col s6"><a href="#areaCreation" class="active"><b>Area creation</b></a></li>
                <li class="black tab col s6"><a href="#areaHistory"><b>Area history</b></a></li>
            </ul>
        </div>

        <div id="areaCreation" class="col s12">
            <div class="row flex">
                <div id="actionCol" class="col s3 full-width" style="background: #1b1b1b;">
                    <div id="action-list"></div>
                </div>

                <div id="statusCol" class="col s6 full-width" style="background: #363636;">
                    <div class="cols s12">
                        <div id="fake-col" class="col s3"></div>

                        <div id="input-col" class="col s6">
                            <div id="action-creator"></div>

                            <div id="reaction-creator"></div>

                            <div class="center">
                                <div id="area-create-result"></div>
                                <a id="create-area-button" class="orange waves-effect waves-light btn-large black-text" style="margin-top: 10px"><i class="material-icons left">add</i><b>Create Area</b></a>
                            </div>
                        </div>

                        <div id="fake-col" class="col s3"></div>
                    </div>
                </div>

                <div id="reactionCol" class="col s3 full-width" style="background: #1b1b1b;">
                    <div id="reaction-list"></div>
                </div>
            </div>
        </div>

        <div id="areaHistory" class="col s12" style="background: #363636;">
            <div class="row flex">
                <div id="refresh-col" class="col s3 full-width" style="background: #1b1b1b;">
                    <div class="center">
                        <a id="area-refresh-button" class="orange black-text btn-large waves-effect waves-light btn" style="margin-top: 25px"><i class="material-icons left">refresh</i><b>Refresh</b></a>
                    </div>
                </div>

                <div id="areaCol" class="col s6 full-width" style="background: #363636;">
                    <div id="area-list"></div>
                </div>

                <div id="log-col" class="col s3 full-width" style="background: #1b1b1b;"></div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        <%- include('../src/dashboard.js'); -%>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>