<!doctype html>

<html lang="en">
<head>
    <title>Areacoon</title>
    <link rel="shortcut icon" type="image/png" href="../public/images/favicon.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style type="text/css">
        <%- include('css/error.css') -%>
    </style>
</head>

<body>
    <nav class="black">
        <div class="nav-wrapper">
            <img src="../public/images/areacoon.png" class="left" style="margin-left: 15px">
            <a href="#" class="left brand-logo orange-text" style="margin-left: 20px"><b>AREA</b></a>
        </div>
    </nav>

    <div class="flex" style="background: #363636">
        <div class="center" style="width: 100%">
            <img src="../public/images/areacoon_fullsize.png" style="margin-top: 200px">
            <div class="orange-text" style="font-size: 35px">Oops! Something went wrong and you shouldn't be here</div>
            <div class="orange-text" style="font-size: 35px"><a href="/">Click here</a> to come back on the dashboard</div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>