<!doctype html>

<html lang="en">
<head>
    <title>Rushboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style type="text/css">
        <%- include('css/login.css'); -%>
    </style>
</head>

<body>
<div class="page">
    <div class="container">
        <div class="left orange">
            <div class="login black-text">Login</div>
            <div class="no_account black-text">
                You don't have an account yet ?<br>
                <a href="/register">Register now</a>
            </div>
        </div>
        <div class="right black">
            <form class="form" method="POST" action="/client/login">
                <label for="user" class="orange-text">Username</label>
                <input type="text" name="usernameLogin" class="white-text" required>
                <label for="password" class="orange-text">Password</label>
                <input type="password" name="passwordLogin" class="white-text" required>
                <label for="serverAddress" class="orange-text">Server address</label>
                <input type="text" name="serverLogin" class="white-text" required>
                <input class="btn orange" type="submit" style="margin-top:25px; color:black;" value="Login">
            </form>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>