<!doctype html>

<html lang="en">
<head>
    <title>Rousboawd</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style type="text/css">
        <%- include('css/mobile.css'); -%>
    </style>
</head>

<body>
<nav class="black">
    <div class="nav-wrapper">
        <a href="#" class="left brand-logo orange-text" style="margin-left: 20px"><b>AREA</b></a>
        <a href="#" class="right waves-effect waves-light black-text orange btn" style="margin-right: 20px; margin-top: 14px"><b>Disconnect</b></a>
        <a href="/dashboard" class="right waves-effect waves-light black-text orange btn" style="margin-right: 20px; margin-top: 14px"><b>Dashboard</b></a>
    </div>
</nav>

<div class="page">
    <div class="center">
        <b>To download the mobile app, click</b>
        <a
            href="/client.apk"
            class="range-text"
            style="margin-left: 20px"><b>here</b></a>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>