<!doctype html>

<html lang="en">
<head>
    <title>Areacoon</title>
    <link rel="shortcut icon" type="image/png" href="../public/images/favicon.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style type="text/css">
        <%- include('css/profil.css'); -%>
    </style>
</head>

<body style="background: #1b1b1b">
<nav class="black">
    <div class="nav-wrapper">
        <img src="../public/images/areacoon.png" class="left" style="margin-left: 15px">
        <a href="#" class="left brand-logo orange-text" style="margin-left: 20px"><b>AREACOON</b></a>
        <a href="/disconnect" class="right waves-effect waves-light black-text orange btn" style="margin-right: 20px; margin-top: 14px"><b>Disconnect</b></a>
        <a href="/dashboard" class="right waves-effect waves-light black-text orange btn" style="margin-right: 20px; margin-top: 14px"><b>Dashboard</b></a>
    </div>
</nav>

<div id="bodySettings" class="center" style="background: #363636; min-height: 100vh; margin-right: 300px; margin-left: 300px; margin-top: 50px; margin-bottom: 50px;">

    <div id="titleSettings" style="border-bottom: 4px solid #ff9800;">
        <i class="orange-text small material-icons">settings</i>
        <label class="orange-text" style="font-size: 30px;"><b>Settings</b></label>
    </div>

    <div>
        <a href="/client.apk" class="btnOAuth waves-effect waves-light btn orange black-text"><i class="material-icons left">file_download</i>Download</a>
    </div>

    <div id="titleOAuth" style="border-bottom: 4px solid #ff9800; margin-top: 50px">
        <i class="orange-text small material-icons">account_box</i>
        <label class="orange-text" style="font-size: 30px;"><b>Authentication</b></label>
    </div>

    <div id="button-list">
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    <%- include('../src/profil.js'); -%>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>