<!DOCTYPE html>

<html>
<head>
    <title>Areacoon</title>
    <link rel="shortcut icon" type="image/png" href="../public/images/favicon.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style type="text/css">
        <%- include('css/register.css'); -%>
    </style>
</head>

<body>
<div class="page">

    <div class="center" id="error-container" style="margin-bottom: 20px">
    </div>

    <div class="container">
        <div class="right black">
            <form class="form" method="POST" action="/client/register">
                <label for="user" class="white-text">Username</label>
                <input type="text" id="user" name="usernameRegister" class="white-text" required>
                <label for="password" class="white-text">Password</label>
                <input type="password" id="password" name="passwordRegister" class="white-text" required>
                <input class="btn white" type="submit" style="margin-top:25px; color:black;" value="register">
            </form>
        </div>
        <div class="left" style="background: #363636">
            <div class="login black-text">Register</div>
            <div class="no_account black-text">
                You already have an account ?<br>
                <a href="/login">Login now</a>
            </div>
        </div>
    </div>

    <div class="center" style="margin-left: auto; margin-right: auto; width: 40%; margin-top: 100px; position: relative">
        <form method="POST" action="/client/changeServer">
            <label class="black-text">If you want to change the server address, it's here !</label>
            <input type="text" name="newAddress" class="black-text center" required>
            <input class="btn black" type="submit" style="color:white;" value="Change">
        </form>
    </div>

    <div id="help-button" style="text-align: right; margin-right: 25px">
        <a href="#modalHelp" class="btn-floating btn waves-effect waves-light modal-trigger black"><i class="material-icons white-text">help_outline</i></a>
    </div>

    <div id="modalHelp" class="modal">
        <div class="modal-content white black-text">
            <h4>You need help with the registration / connexion ?</h4>
            <p>To register you need to enter a username and a password then click on the Register button.<br>
                If you have any trouble with the creation of an account make sure the username you're using isn't already taken. If it is, a message will appear.<br>
                <br>
                You can also change the server address as you wish but you can use our own server by default
            </p>
        </div>
        <div class="modal-footer white black-text">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    <%- include('../src/register.js'); -%>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

<!-- By registering in you agree to the ridiculously long terms that you didn't bother to read-->

</html>